.home-page {
  .text-zone {
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
    width: 40%;
    max-height: 90%;
  }
  h1 {
    color: #f8f8f2;
    font-size: 54px;
    margin: 0;
    // font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 800;

    &:before {
      content: "<h1>";
      font-family: "MesloLGS NF";
      color: #ff79c6;
      font-size: 18px;
      position: absolute;
      margin-top: -40px;
      left: -15px;
      opacity: 0.6;
    }

    &:after {
      content: "<h1/>";
      font-family: "MesloLGS NF";
      color: #ff79c6;
      font-size: 18px;
      position: absolute;
      margin-top: 18px;
      margin-left: 20px;
      animation: fadeIn 1s 1.7s backwards;
      opacity: 0.6;
    }
  }
  h2 {
    color: #f1fa8c;
    margin-top: 20px;
    font-weight: 400;
    font-size: 11px;
    font-family: "Futura";
    letter-spacing: 3px;
    animation: fadeIn 1s 1.8s backwards;
  }
  .flat-button {
    color: #8be9fd;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 4px;
    font-family: sans-serif;
    text-decoration: none;
    padding: 10px 18px;
    border: 1px solid #8be9fd;
    margin-top: 25px;
    float: left;
    animation: fadeInAnimation 1s 1.8s backwards;
    white-space: nowrap;

    &:hover {
      background: #8be9fd;
      color: #333;
    }
  }
}


@media (max-width: 530px) {
  .home-page {
    .text-zone {
      width: 85%;
      left: 5%;
    }
  }
}
