.page {
  width: 100%;
  height: 100%;
  position: absolute;
}
.top-tags {
  bottom: auto;
  top: 35px;
}

.tags {
  color: #ff79c6;
  opacity: 0.6;
  position: absolute;
  bottom: 0;
  left: 120px;
  font-size: 18px;
  font-family: "MesloLGS NF";
}

.bottom-tag-html, .top-tag-html{
  margin-left: -20px;
}

.container {
  width: 100%;
  will-change: contents;
  height: 90%;
  min-height: 566px;
  position: absolute;
  opacity: 0;
  top: 5%;
  margin: 0 auto;
  z-index: 1;
  transform-style: preserve-3d;
  animation: fadeIn 1s forwards;
  animation-delay: 1s;
}

@media (max-width: 960px) {
  .page {
    height: auto;
    position: relative;
  }
  .container {
    width: 100%;
    height: auto;
    padding-bottom: 58px;
    box-sizing: border-box;
    position: relative;
    top: 0;
    overflow: hidden;
  }
  .tags {
    margin-left: 10px;
    left: 0;
  }
  .top-tags {
    bottom: auto;
    top: 76px;
  }

  .bottom-tags {
    position: absolute;
    clear: both;
    float: left;
    margin-top: 22px;
    bottom: 0;
  }
}
