html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font: 300 11px/1.4 "Futura", "sans-serif";
  color: #6272a4;
  background-color: #282a36;
  overflow: hidden;
  display: block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media (max-width: 750px) {
  h1 {
    font-size: 47px !important;
    line-height: 40px !important;
  }
}
