@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .heroButton {
    @apply px-6 py-2 border border-dracula-darker-50  rounded-full uppercase text-xs tracking-widest text-dracula-darker-50 transition-all hover:border-[#ff79c6]/40 hover:text-[#ff79c6]/40;
  }
  .contactInput {
    @apply outline-none bg-slate-400/10 rounded-sm border-b px-6 py-4 border-[#242424] text-gray-500 placeholder-gray-500 transition-all focus:border-[#F7AB0A]/40 focus:text-[#F7AB0A]/40 hover:border-[#F7AB0A]/40;
  }
}

.unselectable {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

html,
body {
  /* TODO: Decide if proximity or mandatory */
  @apply bg-dracula-darker text-dracula-light m-0 p-0 relative h-full overflow-x-hidden overflow-y-scroll snap-y snap-mandatory overscroll-y-contain scrollbar scrollbar-track-gray-400/20 scrollbar-thumb-dracula-pink/80 scroll-smooth;
}
